:root {
  --clr: #fff;
}

.portfoliocard {
  position: relative;
  width: 320px;
  height: 460px;
  display: flex;
  background: transparent;
  border: none;
  flex-direction: column;
  justify-content: space-between;
}
.portfoliocard .portfoliobox:nth-child(1):before {
  content: '';
  position: absolute;
  top: 65%;
  left: 0px;
  width: 28px;
  height: 30px;
  z-index: 10;
  background: transparent;
  border-bottom-left-radius: 20px;
  box-shadow: -6px 6px #fff;
}
.portfoliocard .portfoliobox:nth-child(2):before {
  content: '';
  position: absolute;
  bottom: 13%;
  left: 57px;
  width: 33px;
  height: 25px;
  z-index: 10;
  background: transparent;
  border-bottom-left-radius: 22px;
  box-shadow: -12px 12px #fff;
}
.portfoliocard .portfoliobox:nth-child(1) img {
  width: 100%;
  height: 400px;
  display: block;
  object-fit: cover;
  border-radius: 15px;
}

.portfoliocard .portfoliocircle {
  position: absolute;
  top: 70%;
  left: -20px;
  /* transform: translatey(-50%); */
  width: 85px;
  height: 85px;
  background: var(--clr);
  border-radius: 100%;
  border: 11px solid var(--clr);
  overflow: hidden;
}
.portfoliocard .portfoliocircle img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
