.poppins {
  font-family: var(--poppins);
}

.helvetica {
  font-family: var(--helvetica);
}

.gilroy {
  font-family: var(--gilroy);
}

.colored-spot {
  position: absolute;
  top: 2%;
  left: 1%;
  width: 200px;
  height: 190px;
  background-color: rgba(114, 182, 60, 0.6);
  border-radius: 50%;
  filter: blur(80px);
  opacity: 0.5;
}

.background {
  /* margin-top: 150px; */
  position: relative;
  background: linear-gradient(to right, rgb(225, 244, 248), #ffffff);
}
.background::before {
  content: "";
  background-image: url("../../SVG/belowSubmitbtn.svg");
  background-repeat: no-repeat;
  position: absolute;
  bottom: -9rem; /* Adjust this value as needed */
  left: 0; /* Position the background image to the left */
  width: 31vw; /* Ensure the background covers the entire width */
  height: 36vw; /* Ensure the background covers the entire height */
}
.color {
  color: #72b63c;
}

.Gen {
  color: #72b63c;
}

.Gen::before {
  content: "";
  background-image: url("../../SVG/Generationtext.svg");
  background-repeat: no-repeat;
  opacity: 0.25;
  justify-content: center;
  position: absolute;
  top: 34;
  margin-left: 4px;
  width: 14%;
  height: 1.35em;
  background-size: cover;
}
.heroh6 {
  font-style: var(--helvetica);
  font-weight: 400;
  font-size: 1.125rem;
}
.heroh3 {
  font-style: var(--helvetica);
  font-size: 1.7rem;
  font-weight: 600;
}
.text-secondary {
  margin-top: 1em;
  font-size: 1rem;
  font-weight: 200;
  width: 65%;
}
.scroll-button {
  background-color: #fff;
  border: none;
  font-size: 16px;
  font-style: var(--gilroy);
  font-weight: 300;
  justify-content: center;
  cursor: pointer;
  position: relative;
  padding: 10px 30px;
  border-radius: 22px;
  width: 200px;
  text-align: left;
  color: #72b63c;
}

.arrow-1 {
  opacity: 0;
}
.arrow-2 {
  opacity: 0;
}
.arrow-3 {
  opacity: 0;
}
button:hover .arrow-1 {
  opacity: 1;
  padding-left: 28px;
  justify-content: center;
  transition: opacity 0.1s ease-in-out;
}
button:hover .arrow-2 {
  justify-content: center;
  opacity: 1;
  transition: opacity 0.2s ease-in-out;
}
button:hover .arrow-3 {
  justify-content: center;
  opacity: 1;
  transition: opacity 0.3s ease-in-out;
}

.heroImage {
  /* margin-right: 20%; */ /* Remove this line to adjust the margin */
  position: absolute;
  top: 0; /* Center vertically */
  right: 0; /* Align to the right side */
  z-index: +5;
  width: 65%;
}
.bgNavImg::before {
  position: absolute;
}



html{
  overflow-x:hidden !important;
}

@media (max-width: 767px) {
  .heroImage{
display: none !important;
  }
  .logo{
    padding-left: 0 !important;
  }
  .background{
height: 60vh !important;
  }
  .text-secondary{
    width: 86% !important ;
  }
  .navContainer{
    padding-right: 0 !important;
  }
}
