.backDot {
  background-image: url('../../../SVG/PNG/Counterbg.png');
  background-position: center;
  width: 100%;
  height: 100%;
}

.CountSpan {
  font-size: 15px;
  font-weight: 400;
}
.h3Count {
  font-size: 50px;
  color: #72b63c;
  font-weight: '500';
}
.h5countTitle {
  font-weight: 400;
  color: #444444;
}
.CountCol {
  text-align: center;
  margin-top: 10px;
  color: #72b63c;
}
@media screen and (min-width: 1380px) {
  .pCount {
    font-size: '0.1vw !important';
  }
  .Ourh4 {
    font-size: '1vw';
  }
  .CountSpan {
    font-size: 20px;
    font-weight: 500;
  }
  .h3Count {
    font-size: 70px;
    font-weight: 400;
  }
  .h5countTitle {
    font-weight: 350;
    font-size: 30px;
    color: #444444;
  }
}
