@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

body {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}
.navbar {
  background-image: url("../../SVG//Subpages/AboutUs//Mask\ Group\ 41.jpg");
  width: 100%;
  height: 100%;
  background-size: cover;
  --bs-navbar-padding-x: 0 !important;
}
.navContainer {
  min-width: 100%;
  margin: 0 auto;
  padding: 0 35px;
  display: flex;
  /* justify-content: space-between; */
  align-items: center;
  height: 100%;
}

.logo {
  margin-top: 0px !important;
}

.menu-icon {
  display: none;
}

.nav-elements {
  margin-top: 0px !important;
}

.nav-elements ul {
  display: flex;
  /* justify-content: space-between; */
  list-style-type: none;
  text-transform: uppercase;
}

.nav-elements ul li:not(:last-child) {
  margin-right: 40px;
}

.nav-elements ul a {
  font-size: 10px;
  font-weight: 400;
  color: #444444;
  text-decoration: none;
}

.active {
  color: #72b63c;
}

/*------------------------- Button Design ------------------------- */
.btn-submit {
  background-color: rgba(114, 182, 60, 0.78);
  color: #fff;
  border-radius: 17px;
  border: transparent;
  font-size: 12px;
  padding: 5px 15px 5px 15px;
}
/* ------------------------- Responsive Design ------------------------- */
/* 
@media (min-width: 1380px) {
  .nav-elements {
    margin-top: 30px !important;
  }
  .navbar {
    width: 100%;
  }
  .logo {
    margin-top: 30px !important;
  }
  .navbar {
    --bs-navbar-padding-x: -10 !important;
  }
  .nav-elements ul a {
    font-size: 0.7vw !important;
    font-weight: 400;
    margin: 10px !important;
  }
  .btn-submit {
    font-size: 16px;
    padding: 5px 15px 5px 15px;
  }
}

@media (max-width: 600px) {
  .menu-icon {
    display: block;
    cursor: pointer;
  }

  .nav-elements {
    position: absolute;
    right: 0;
    top: 80px;
    background-color: #fff;
    width: 0px;
    height: calc(100vh - 60px);
    transition: all 0.3s ease-in;
    overflow: hidden;
    z-index: 5;
  }

  .nav-elements.active {
    width: 270px;
  }

  .nav-elements ul {
    display: flex;
    flex-direction: column;
  }

  .nav-elements ul li {
    margin-right: unset;
    margin-top: 22px;
  }
  .logo {
    margin-left: 0% !important;
  }
}  */
